* {
    box-sizing: border-box;
    margin: 0;
    text-align: center;
    align-items: center;
}

#resultsPage {
    display: flex;
    height: 100%;
    flex-direction: column;
}

h1 {
    padding-top: 3%;
    font-size: 50px;
    font-family: 'Nerko One', Verdana, Arial;
    color: white;
}

#playAgain {
    color: white;
    font-size: 40px;
}