* {
    box-sizing: border-box;
    margin: 0;
    text-align: center;
    align-items: center;
}

#gamePage {
    display: grid;
    height: 100vh;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: 100% 110%;
    background-attachment: fixed;
}

h1 {
    padding-top: 3%;
    font-size: 50px;
    font-family: 'Nerko One', Verdana, Arial;
    color: white;
}

#gameArea {
    margin-top: -15%;
    margin-left: 15%;
    height: 100%;
    width: 75%;
    display: grid;
    grid-template-columns: auto auto;
}